:root{
    --cor-fundo-pagina: #0a0a0b;
    --cor-texto-principal: #eef0f5;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-texto-principal);
    background-color: var(--cor-fundo-pagina);
}

.container-pagina{
    width: min(1100px, 90%);
    margin: 0 auto;
}

.cabecalho-principal{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #285977 0%, #000000 60%);
    padding: clamp(2rem, 5vw, 5rem) 0;
}

.cabecalho-principal__titulo{
    font-size: 18pt;
    color: var(--cor-texto-principal);
    margin: 0 0 1.5rem;
}
.cabecalho-principal__subtitulo{
    font-size: 14pt;
    color: var(--cor-texto-principal);
    margin: 0 0 1.5rem;
}

.cabecalho-principal__garantia{
    font-size: 15px;
    color: rgba(241, 241, 241, 0.545);
    margin: 0 1 1.5rem; 
    min-height: 70vh;
    display: flex;
    justify-content: center;

}

input{
    width: 30%;
    padding: 13px;
    border-radius: 20px;
    background: none;
    border-color: #0b0c0e;
    color: wheat;
}

button{
    width: 15%;
    padding: 13px;
    border-radius: 20px;
    background: rgb(2, 156, 2);
    border-color: rgb(2, 156, 2) ;
}